@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: RobotoCondensed;
  src: url(/RobotoCondensed.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/Roboto-Regular.ttf);
}

@font-face {
  font-family: Open-Sans;
  src: url(/Open-Sans.ttf);
}

.robotoCondensed {
  font-family: RobotoCondensed;
}

.roboto{
  font-family: Roboto;
}

.openSans {
  font-family: Open-Sans;
}